
.books{
    padding:1rem !important;
}

.books.mobile{
    padding-top:.25rem !important;
    padding-bottom:.25rem !important;
}

.book-border {
    border:1px solid #dee2e6 !important;
    border-radius: 1rem;
    border-width: 4px !important;
    box-sizing: border-box;
    display: inline-flex;
    /* display: inline-grid; */
  }
  
  .book-author{
    font-style: italic;
    font-size: smaller;
  }
  
  .book-title {
    font-weight: bold;
  }
  
  .book-author.desktop{
    font-size: 1rem;
  }
  
  .book-title.desktop {
    font-size :1.2rem;
  }
  
  .book-icon {
    size: 1vmax !important;
  }
  
  .circular-bar.desktop{
      min-width: 60px;
      min-height: 60px;
      max-width: 100px;
      max-height: 100px;
  }
  
  .circular-bar.mobile{
      min-width: 50px;
      min-height: 50px;
      max-width: 75px;
      max-height: 75px;
  }
  