.main-text{
    font-family: "typewriter";
    padding-top: 8%;
  }
  
.main-text.browser{
    font-size: 2.5rem;
    padding-top: 8%;
  }

.main-text.mobile{
    font-size: 1.7rem;
    padding-top: 5%;
  }