.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.overlay.blocking{
    z-index: 10000;
}

/* arrow-text dark rounded background */
#welcome{
    border-radius: 20px;
    background-color: rgba(38, 38, 38, 0.9);
    max-width: calc(50% + 100px); /* increase the margins on larger viewports */
}

/* arrow-text dark rounded background */
.arrow-text, .tutorial-title{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 5px 30px 5px 30px;
    font-size: larger;
}

.arrow{
    pointer-events: none;
}

.arrow-animated {
    animation: bounce 1s ease;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform:translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}


#tutorial-controls {
    margin-left: auto;
    z-index: 10000;
}

#tutorial-controls .row{
    width:auto
}

#tutorial-controls p{
    font-size: larger;
}
