.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.slide-down-enter{
overflow:hidden;
transform: translateY(100%);
}
.slide-down-enter-active{
transform: translateY(0);
transition: 200ms ease-in-out;
}
.slide-down-exit{
transform: translateY(0);
}
.slide-down-exit-active{
overflow:hidden;
transform: translateY(100%);
transition: 200ms ease-in-out;
}

.bounce-enter-active {
  animation: bounce2 2s ease;
}
.bounce-exit {
  opacity: 1;
}
.bounce-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {translate : 0px 0px }
  40% {translate: 0px -30px;}
  60% {translate: 0px -15px;}
}