.App {
  /* background-color: rgba(34, 34, 34, 0); */
  background-color: transparent;
  color:white;
  /* disable selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

a {
  color:inherit !important;
}

/* TODO move CSS below into separate files per component ? */

.video-container {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.control-buttons {
  opacity: .9;
}


.modal .modal-content, .list-group-item:not(.disabled) {
  background-color: #222 !important;
  color : white !important;
}

.list-group-item.disabled{
  background-color: #222 !important;
  color : #717273 !important;
}

.modal .title{
  font-weight: bold;
}
.modal .author {
  font-style: italic;
}

.clickable, [data-bs-toggle="modal"] {
  cursor : pointer;
}
